<form [formGroup]="form" class="search-wrapper" [ngClass]="'variant-'+variant">

    <div [fxLayout]="(vertical) ? 'column' : 'row wrap'"> 

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Pet Type</mat-label>
                <mat-select placeholder="Select Pet Type" formControlName="petType">
                    <mat-option *ngFor="let petType of petTypes" [value]="petType">
                        {{petType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Pet Status</mat-label>
                <mat-select placeholder="Select Pet Status" formControlName="petStatus" multiple>
                    <mat-option *ngFor="let petStatus of petStatuses" [value]="petStatus">
                        {{petStatus.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Radius(km)</mat-label>
                <input matInput placeholder="Enter Radius" formControlName="radius" onlyNumber autocomplete="off">
            </mat-form-field>
        </div>
    </div>


    <div fxLayout="row" fxLayoutAlign="center center" class="p-2">
      <button mat-raised-button color="warn" class="uppercase mx-1" (click)="reset()">Clear</button>
      <!--<button *ngIf="!vertical" mat-raised-button color="primary" class="uppercase mx-1" (click)="showMore = !showMore">{{(showMore) ? 'Hide' : 'Advanced'}}</button>-->
      <button *ngIf="searchOnBtnClick" mat-raised-button color="primary" class="search-btn mx-1" (click)="search()"><mat-icon>search</mat-icon> Search</button>
    </div>
    

</form>
